/* puzzle_page.css */

#puzzle_canvas {
    z-index: 0;
    width: 100%;
    height: 100%;
}

body {
    margin: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
}

#loading_gif {
    z-index: 1;
    position: fixed;
    display: none;
    width: 50%;
    height: 50%;
    top: 25%;
    left: 25%;
}

#puzzle_menu {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    background-color: #ffffff00;
    font-size: 0;
    white-space: nowrap;
}

#puzzle_menu_label {
    z-index: 1;
    position: absolute;
    top: 10%;
    left: 0;
    color: #ffffff;
    display: none;
    background: #555555;
    text-align: center;
    padding: 5px 5px;
    border-radius: 6px;
}

#puzzle_controls {
    z-index: 1;
    position: absolute;
    top: 90%;
    height: 10%;
    left: 20%;
    width: 60%;
    white-space: nowrap;
    color: white;
}

#puzzle_prompt_input {
    text-align: left;
    padding: 8px 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 80%;
    font-family: monospace;
}

.puzzle_icon {
    position: relative;
    width: auto;
    height: 100%;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    height: 20px;
    width: 200px;
    outline: none;
    border-radius: 10px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: #ff0000;
    cursor: pointer;
}